@font-face {
   font-family: 'Poppins-Medium';
   font-display: swap;
   src: url('file:///C:/Users/Admire/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-02-19_104434/fonts/Poppins-Medium/font.ttf');
}
